{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Create Listing</h2>
    <div id="listing">
        <form action="{% url 'create_listing' %}" method="post">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Name of article" required>
            <textarea id="description" name="description" placeholder="Description" required></textarea>
            <input type="number" name="initial_price" placeholder="Initial price" required>
            <label for="picture_url">Select an image:</label> 
            <input type="file" id="picture_url" accept="image/*" required> 
            <input type="datetime-local" name="end_at" placeholder="End at" required value="{{ today }}">
            <button type="submit">Create Listing</button>
        </form>
    </div>

{% endblock %}