{% extends "auctions/layout.html" %} 
{% block body %}
  <h2>Active Listings</h2>

  {% load static %}
  <div id="listings">
    {% for listing in listings %}
      <div class="listing">
        <h3>{{ listing.name | default:"no name" }}</h3>
        <p class="listing-description"> <em>description: </em> <br>{{ listing.description}}</p>
        <p>Initial price: {{ listing.initial_price }}</p>
        {% if listing.picture_url %}
            <img src='{{ listing.picture_url.url }}' alt="{{ listing.name }}">
        {% else %}
            <img src='{% static "nopic.jpg" %}' alt="No image">
        {% endif %}
        <p>End at: {{ listing.end_at }}</p>
      </div>
    {% endfor %}
  </div>
{% endblock %}
