{% extends "auctions/layout.html" %} 
{% block title %}{{ listing.name }}{% endblock %}
{% block body %}
<div class="listing-page">
    {% if listing_error %}
    <div class="alert alert-danger">{{ listing_error }}</div>
    {% else %} <!-- When there is no error, display the listing -->
        {% if listing.is_active %}
            {% if user.is_authenticated %}
            <div class="listing-top-buttons">
                <form action="{% url 'update_watchlist' listing.id %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit">{% if listing in user.watchlist.all %}Remove from watchlist{% else %}Add to watchlist{% endif %}</button>
                </form>
                {% if user.id != listing.owner_id.id %}
                <form action="{% url 'bid' listing.id %}" method="post">
                    {% csrf_token %}
                    <input type="number" name="amount" min="{{ listing.get_min_bid_amount }}" step="0.01" value="{{ listing.get_min_bid_amount }}" required>
                    <button class="btn btn-primary" type="submit">Bid</button>
                </form>
                {% endif %}
                {% if user.id == listing.owner_id.id %}
                <form action="{% url 'close_listing' listing.id %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger" type="submit">Close listing</button>
                </form>
                {% endif %}
            </div>
            {% endif %}
        {% endif %}
        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
    <div class="listing-page-content">
        {% if listing.winner_id %}
            <p class="alert alert-success">Winner of this listing: {{ listing.winner_id.username }}</p>
        {% endif %}
        <h2>{{ listing.name }}</h2>
        <p class="listing-description"> <em>description: </em> <br>{{ listing.description}}</p>
        <p>Initial price: ${{ listing.initial_price }}</p>
        {% if listing.last_bid_id %}
            <p>Current price: ${{ listing.last_bid_id.amount }}</p>
            <p>Current bidder: {{ listing.last_bid_id.user_id.username }}</p>
        {% else %}
            <p>Current price: ${{ listing.initial_price }}</p>
            <p>Current bidder: no bidder yet</p>
        {% endif %}
        {% if listing.picture_url %}
        <img src='{{ listing.picture_url.url }}' alt="{{ listing.name }}">
        {% else %}
        {% load static %}
        <img src='{% static "auctions/nopic.jpg" %}' alt="No image">
        {% endif %}
        <p>End at: {{ listing.end_at }}</p>
        <p>Seller: {{ listing.owner_id.username }}</p>
    </div>
    {% endif %}
</div>
{% endblock %}