#username {
  margin-left: auto;
  margin-right: 50px;
}

#new-post__form {
  padding: 50px;
}

#new-post__form > div {
  display: flex;
  flex-direction: column;
}

#new-post__form > input[type="submit"] {
  margin-top: 20px;
}

#id_content {
  width: 600px;
}

textarea {
  padding: 10px;
}

#message {
  margin: 20px;
}

#posts-view {
  color: inherit;
}

.post {
  height: 200px;
  width: 80%;
  border: 1px solid grey;
  border-radius: 15px;
  margin: 15px auto;
  padding: 10px;
}
