:root {
  --main-width: 800px;
}

#username {
  margin-left: auto;
  margin-right: 50px;
}

#new-post {
  width: var(--main-width);
  margin: auto;
}

#new-post__form {
  padding: 50px;
}

#new-post__form > div {
  display: flex;
  flex-direction: column;
}

#new-post__form > input[type="submit"] {
  margin-top: 20px;
}

#id_content {
  width: 600px;
}

textarea {
  padding: 10px;
  border-radius: 15px;
}

#message {
  margin: 20px;
}

#if-u-want {
  text-align: center;
  margin: 50px 0;
  font-size: 2rem;
}

#posts-view {
  color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#posts-view button {
  width: 150px;
  margin: 10px;
}

.post {
  min-height: 200px;
  height: 100%;
  max-height: 400px;
  width: 1000px;
  border: 1px solid grey;
  border-radius: 15px;
  margin: 15px auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-top {
  display: flex;
  justify-content: space-between;
}

.post-top .post-edit {
  max-width: 75px;
}

.post-text {
  width: 90%;
}

.post-user {
  font-style: bold;
  font-size: 1.5rem;
  cursor: pointer;
}

.post-user:hover {
  color:darkgrey;
}

.post-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing:border-box;
}

.post-time, .post-likes {
  bottom: 10px;
}

.post-time {
  right: 15px;
  font-style: italic;
  font-size: 0.8rem;
}

.post-likes {
  left: 15px;
}

#profile-view {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 200px;
}