body {
    padding: 10px;
    height: 600px;
}

.alert {
    margin-bottom: 10px;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

#listings {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.listing {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    width: 300px;
}

.listing h3 {
    text-align: center;
}

.listing-description {
    border: 1px solid grey;
    padding: 10px;
}