{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    {% if user.is_authenticated %}
        {% if message % }
            <p>{{message}}</p>
        {% endif %}
        <div id="new-post">
            <form id="new-post__form">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Post">
            </form>
        </div>
    {% else %}
    <p>Log if u want to make a new post :)</p>
    {% endif %}
{% endblock %}

{% block script %}
    <script src="{% static 'network/app.js' %}"></script>
{% endblock %}